
* {
    cursor: none !important;
}
body {
    margin: 0 auto;
    text-align: center;
    background: #050c1d;
    color: #e6f1ff;
    font-family: "Segoe UI", Arial, sans-serif;
    direction: rtl;


    cursor: none;
}


a, button, input {
    cursor: none;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #00d0ff;
    text-shadow:
            0 0 10px #00d0ff,
            0 0 20px #0091ff,
            0 0 40px #0091ff;
    padding-bottom: 6px;
    border-bottom: 2px solid #00d0ff;
    box-shadow:
            0 4px 10px -2px #00d0ff,
            0 4px 20px -2px #0091ff;
}

.input {
    margin-right: 35px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: #00d0ff;
    text-shadow:
            0 0 10px #00d0ff,
            0 0 20px #0091ff,
            0 0 40px #0091ff;
    padding-bottom: 6px;
    display: inline-block;
    border-bottom: 2px solid #00d0ff;
    box-shadow:
            0 4px 10px -2px #00d0ff,
            0 4px 20px -2px #0091ff;
}

.input div {
    border: #0088ff solid 2px;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.input button {
    text-align: center;
    font-size: 1rem;
    text-shadow:
            0 0 10px #00d0ff,
            0 0 20px #0091ff,
            0 0 40px #0091ff;
    padding-bottom: 6px;
    border-bottom: 2px solid #00d0ff;
    box-shadow:
            0 4px 10px -2px #00d0ff,
            0 4px 20px -2px #0091ff;
}

.input button:hover {
    transform: scale(1.06);
    transition: 0.25s ease;
    color: #00eaff;
    text-shadow:
            0 0 12px #00eaff,
            0 0 25px #00baff,
            0 0 45px #0091ff,
            0 0 70px #0091ff;
    box-shadow:
            0 6px 14px -2px #00eaff,
            0 6px 28px -2px #00baff,
            inset 0 0 10px #00caff55;
    border-bottom: 2px solid #00eaff;
}

.input a {
    text-align: center;
    font-size: 1rem;
    text-shadow:
            0 0 10px #00d0ff,
            0 0 20px #0091ff,
            0 0 40px #0091ff;
    padding-bottom: 6px;
    border-bottom: 2px solid #00d0ff;
    box-shadow:
            0 4px 10px -2px #00d0ff,
            0 4px 20px -2px #0091ff;
    text-decoration: none;
    color: #00d0ff;
}

.input a:visited {
    color: #00d0ff;
}


.cursor-glow {
    width: 30px;
    height: 30px;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);


    opacity: 1;
}

.cursor-glow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #00d0ff;
    box-shadow: 0 0 8px #00d0ff, 0 0 15px #00d0ff;
}

.cursor-glow::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #00d0ff;
    box-shadow: 0 0 8px #00d0ff, 0 0 15px #00d0ff;
}