body{
    margin: 0 auto;
    text-align: center;
    background: #050c1d;
    color: #e6f1ff;
    font-family: "Segoe UI", Arial, sans-serif;
    direction: rtl;
}
h1{
    text-align: center;
    font-size: 3rem;
    color: #00d0ff;
    text-shadow:
            0 0 10px #00d0ff,
            0 0 20px #0091ff,
            0 0 40px #0091ff;
    padding-bottom: 6px;
    border-bottom: 2px solid #00d0ff;
    box-shadow:
            0 4px 10px -2px #00d0ff,
            0 4px 20px -2px #0091ff;
}
.input{
    margin-right: 35px;
    text-align: center;
}
.input{
    margin: 10px;
    padding: 10px;
    color: #00d0ff;
    text-shadow:
            0 0 10px #00d0ff,
            0 0 20px #0091ff,
            0 0 40px #0091ff;
    padding-bottom: 6px;
    display: inline-block;
    border-bottom: 2px solid #00d0ff;
    box-shadow:
            0 4px 10px -2px #00d0ff,
            0 4px 20px -2px #0091ff;

}
.input div{
    border: #0088ff solid 2px;
    margin: 15px;
    padding: 15px;
    text-align: center;
}
.input button{
    text-align: center;
    font-size: 1rem;
    /*color: #00d0ff;*/
    text-shadow:
            0 0 10px #00d0ff,
            0 0 20px #0091ff,
            0 0 40px #0091ff;
    padding-bottom: 6px;
    border-bottom: 2px solid #00d0ff;
    box-shadow:
            0 4px 10px -2px #00d0ff,
            0 4px 20px -2px #0091ff;
}
.input button:hover{
    cursor: pointer;
    transform: scale(1.06);
    transition: 0.25s ease;

    color: #00eaff;
    text-shadow:
            0 0 12px #00eaff,
            0 0 25px #00baff,
            0 0 45px #0091ff,
            0 0 70px #0091ff;

    box-shadow:
            0 6px 14px -2px #00eaff,
            0 6px 28px -2px #00baff,
            inset 0 0 10px #00caff55;

    border-bottom: 2px solid #00eaff;
}
.input a {

    text-align: center;
    font-size: 1rem;
    /*color: #00d0ff;*/
    text-shadow:
            0 0 10px #00d0ff,
            0 0 20px #0091ff,
            0 0 40px #0091ff;
    padding-bottom: 6px;
    border-bottom: 2px solid #00d0ff;
    box-shadow:
            0 4px 10px -2px #00d0ff,
            0 4px 20px -2px #0091ff;
}